<div class="grid-x grid-padding-x">
    <div class="cell">
        <h4>Trace</h4>
        <hr>
    </div>
</div>

<div class="grid-x grid-padding-x">
    <div class="cell">
        <pre style='text-align: left;'>{% block traceMessage %}{% endblock %}</pre>
    </div>
</div>